In [1]:
# importing Libraries 
import pandas as pd 
import numpy as np 
import mysql.connector

In [2]:
# csv to daataframe
df_buses_1=pd.read_csv("ap_bus_details.csv")
df_buses_2=pd.read_csv("bihar_bus_details.csv")
df_buses_3=pd.read_csv("chandigarh_bus_details.csv")
df_buses_4=pd.read_csv("himachal_bus_details.csv")
df_buses_5=pd.read_csv("kerala_bus_details.csv")
df_buses_6=pd.read_csv("Northbengal_bus_details.csv")
df_buses_7=pd.read_csv("Punjab_bus_details.csv")
df_buses_8=pd.read_csv("Kadamba_bus_details.csv")
df_buses_9=pd.read_csv("telangana_bus_details.csv")
df_buses_10=pd.read_csv("up_bus_details.csv")

Final_df=pd.concat([df_buses_1,df_buses_2,df_buses_3,df_buses_4,df_buses_5,df_buses_6,df_buses_7,df_buses_8,df_buses_9,df_buses_10],ignore_index=True)


Final_df.to_csv('Final.csv', index=False)

Final_df

,Route_Name,Route_Link,Bus_Name,Bus_Type,Departing_Time,Duration,Reaching_Time,Star_Rating,Price,Seat_Availability
0,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 4045,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",15:45,06h 15m,22:00,4.2,INR 436,28 Seats available
1,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 3356,NIGHT RIDER (SEATER CUM SLEEPER),15:45,07h 00m,22:45,2.8,INR 639,32 Seats available
2,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 3546,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),16:15,06h 45m,23:00,3.7,INR 670,42 Seats available
3,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 3500,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",16:20,08h 25m,00:45,3.9,INR 469,20 Seats available
4,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 3376,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",16:45,06h 30m,23:15,4.3,INR 436,32 Seats available
...,...,...,...,...,...,...,...,...,...,...
8589,Delhi to Lucknow,https://www.redbus.in/bus-tickets/delhi-to-luc...,Laxmi holidays,Bharat Benz A/C Seater /Sleeper (2+1),20:30,08h 00m,04:30,4.4,INR 599,15 Seats available
8590,Delhi to Lucknow,https://www.redbus.in/bus-tickets/delhi-to-luc...,Vaishali Expresso Pvt. Ltd.,A/C Seater / Sleeper (2+1),18:00,08h 20m,02:20,4.4,INR 400,14 Seats available
8591,Delhi to Lucknow,https://www.redbus.in/bus-tickets/delhi-to-luc...,Fouji travels,A/C Seater / Sleeper (2+1),23:00,08h 00m,07:00,4.1,INR 300,25 Seats available
8592,Delhi to Lucknow,https://www.redbus.in/bus-tickets/delhi-to-luc...,Fouji travels,A/C Seater / Sleeper (2+1),20:30,08h 00m,04:30,4.3,INR 499,16 Seats available
8593,Delhi to Lucknow,https://www.redbus.in/bus-tickets/delhi-to-luc...,IntrCity SmartBus,Bharat Benz A/C Seater /Sleeper (2+1),22:00,08h 10m,06:10,4.3,INR 719,7 Seats available

In [3]:
#Data Cleaning 
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8594 entries, 0 to 8593
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Route_Name         8594 non-null   object
 1   Route_Link         8594 non-null   object
 2   Bus_Name           8525 non-null   object
 3   Bus_Type           8524 non-null   object
 4   Departing_Time     8525 non-null   object
 5   Duration           8525 non-null   object
 6   Reaching_Time      8525 non-null   object
 7   Star_Rating        8529 non-null   float64
 8   Price              8525 non-null   object
 9   Seat_Availability  8525 non-null   object
dtypes: float64(1), object(9)
memory usage: 671.5+ KB

In [4]:

# Display missing value count
print(Final_df.isnull().sum())

Route_Name            0
Route_Link            0
Bus_Name             69
Bus_Type             70
Departing_Time       69
Duration             69
Reaching_Time        69
Star_Rating          65
Price                69
Seat_Availability    69
dtype: int64

In [5]:
Final_df = Final_df.copy()  # Ensure it's not a slice
Final_df["Bus_Name"] = Final_df["Bus_Name"].fillna("Unknown")
Final_df["Bus_Type"] = Final_df["Bus_Type"].fillna("Unknown")

In [6]:
# remove INR
Final_df["Price"] = Final_df["Price"].str.replace("INR", "", regex=True).str.strip()
Final_df["Price"]=Final_df["Price"].astype(float)
Final_df["Price"].fillna(0)

0       436.0
1       639.0
2       670.0
3       469.0
4       436.0
        ...
8589    599.0
8590    400.0
8591    300.0
8592    499.0
8593    719.0
Name: Price, Length: 8594, dtype: float64

In [7]:
# Hnadeling missing value 
Final_df["Price"].fillna(Final_df["Price"].median(), inplace=True)
Final_df["Star_Rating"] = Final_df["Star_Rating"].fillna(Final_df["Star_Rating"].mean())

C:\Users\DELL\AppData\Local\Temp\ipykernel_22272\2805254159.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Final_df["Price"].fillna(Final_df["Price"].median(), inplace=True)

In [8]:
import re

# Extract digits from the Seat_Availability text
Final_df["Seat_Availability"] = Final_df["Seat_Availability"].astype(str).apply(
    lambda x: re.findall(r'\d+', x)[0] if re.findall(r'\d+', x) else '0'
).astype(int)

In [9]:
Final_df.dropna(subset=["Departing_Time", "Reaching_Time"], inplace=True)

In [10]:
from datetime import datetime

def calculate_duration(row):
    try:
        dep_time = datetime.strptime(row["Departing_Time"], "%H:%M")
        arr_time = datetime.strptime(row["Reaching_Time"], "%H:%M")
        duration = arr_time - dep_time if arr_time > dep_time else None
        return str(duration) if duration else "Unknown"
    except:
        return "Unknown"

Final_df["Duration"] = Final_df.apply(lambda row: calculate_duration(row) if pd.isnull(row["Duration"]) else row["Duration"], axis=1)

In [11]:
print(Final_df.isnull().sum())

Route_Name           0
Route_Link           0
Bus_Name             0
Bus_Type             0
Departing_Time       0
Duration             0
Reaching_Time        0
Star_Rating          0
Price                0
Seat_Availability    0
dtype: int64

In [ ]:
print(Final_df.dtypes)  #

Route_Name            object
Route_Link            object
Bus_Name              object
Bus_Type              object
Departing_Time        object
Duration              object
Reaching_Time         object
Star_Rating          float64
Price                float64
Seat_Availability      int64
dtype: object

In [13]:
Final_df

,Route_Name,Route_Link,Bus_Name,Bus_Type,Departing_Time,Duration,Reaching_Time,Star_Rating,Price,Seat_Availability
0,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 4045,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",15:45,06h 15m,22:00,4.2,436.0,28
1,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 3356,NIGHT RIDER (SEATER CUM SLEEPER),15:45,07h 00m,22:45,2.8,639.0,32
2,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 3546,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),16:15,06h 45m,23:00,3.7,670.0,42
3,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 3500,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",16:20,08h 25m,00:45,3.9,469.0,20
4,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 3376,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",16:45,06h 30m,23:15,4.3,436.0,32
...,...,...,...,...,...,...,...,...,...,...
8589,Delhi to Lucknow,https://www.redbus.in/bus-tickets/delhi-to-luc...,Laxmi holidays,Bharat Benz A/C Seater /Sleeper (2+1),20:30,08h 00m,04:30,4.4,599.0,15
8590,Delhi to Lucknow,https://www.redbus.in/bus-tickets/delhi-to-luc...,Vaishali Expresso Pvt. Ltd.,A/C Seater / Sleeper (2+1),18:00,08h 20m,02:20,4.4,400.0,14
8591,Delhi to Lucknow,https://www.redbus.in/bus-tickets/delhi-to-luc...,Fouji travels,A/C Seater / Sleeper (2+1),23:00,08h 00m,07:00,4.1,300.0,25
8592,Delhi to Lucknow,https://www.redbus.in/bus-tickets/delhi-to-luc...,Fouji travels,A/C Seater / Sleeper (2+1),20:30,08h 00m,04:30,4.3,499.0,16
8593,Delhi to Lucknow,https://www.redbus.in/bus-tickets/delhi-to-luc...,IntrCity SmartBus,Bharat Benz A/C Seater /Sleeper (2+1),22:00,08h 10m,06:10,4.3,719.0,7

In [14]:
# Convert Data Types
Final_df["Price"] = Final_df["Price"].astype(int)
Final_df["Seat_Availability"] = Final_df["Seat_Availability"].astype(int)
Final_df["Star_Rating"] = Final_df["Star_Rating"].astype(float)

In [15]:
print(Final_df.dtypes)  #

Route_Name            object
Route_Link            object
Bus_Name              object
Bus_Type              object
Departing_Time        object
Duration              object
Reaching_Time         object
Star_Rating          float64
Price                  int64
Seat_Availability      int64
dtype: object

In [16]:
import numpy as np

# Replace NaN values with None (so MySQL can accept them as NULL)
df = Final_df.replace({np.nan: None})

In [17]:
print(df.isnull().sum())

Route_Name           0
Route_Link           0
Bus_Name             0
Bus_Type             0
Departing_Time       0
Duration             0
Reaching_Time        0
Star_Rating          0
Price                0
Seat_Availability    0
dtype: int64

In [18]:
df['Route_Name'].fillna("Unknown Route", inplace=True)
df['Bus_Type'].fillna("Unknown", inplace=True)
df['Price'].fillna(0, inplace=True)  # Default price to 0 if missing
df = df.where(pd.notna(df), None)  # Convert remaining NaNs to None

C:\Users\DELL\AppData\Local\Temp\ipykernel_22272\1396900731.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Route_Name'].fillna("Unknown Route", inplace=True)
C:\Users\DELL\AppData\Local\Temp\ipykernel_22272\1396900731.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Bus_Type'].fillna("Unknown", inplace=True)
C:\Users\DELL\AppData\Local\Temp\ipykernel_22272\1396900731.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Price'].fillna(0, inplace=True)  # Default price to 0 if missing

In [19]:
import mysql.connector  

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root",
    database="RED_BUS_DETAILS"
)

print("Connected to MySQL successfully!")

Connected to MySQL successfully!

In [20]:
insert_query = '''INSERT INTO bus_details(
    Route_Name, Route_Link, Bus_Name, Bus_Type, Departure_Time,
    Arrival_Time, Duration, Price, Rating, Seat_Availability)
    VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''

In [21]:
print("Columns in DataFrame:", Final_df.columns)
print("Number of columns in DataFrame:", len(Final_df.columns))
print("Number of placeholders in query:", insert_query.count('%s'))

Columns in DataFrame: Index(['Route_Name', 'Route_Link', 'Bus_Name', 'Bus_Type', 'Departing_Time',
       'Duration', 'Reaching_Time', 'Star_Rating', 'Price',
       'Seat_Availability'],
      dtype='object')
Number of columns in DataFrame: 10
Number of placeholders in query: 10

In [22]:
my_cursor=conn.cursor()
my_cursor.execute("USE red_bus_details")
print("Using database: red_bus_details")

Using database: red_bus_details

In [23]:
my_cursor.execute("SHOW DATABASES")
databases = [db[0] for db in my_cursor.fetchall()]
print("Databases:", databases)

if "red_bus_details" not in databases:
    my_cursor.execute("CREATE DATABASE red_bus_details")
    print("Database 'red_bus_details' created.")

Databases: ['dt28', 'information_schema', 'mysql', 'performance_schema', 'red_bus_details', 'sakila', 'sys', 'world']

In [24]:
my_cursor.execute("SHOW TABLES")
tables = [table[0] for table in my_cursor.fetchall()]
print("Tables in database:", tables)

Tables in database: ['bus_details']

In [25]:
create_table_query = '''
CREATE TABLE IF NOT EXISTS bus_details (
    ID INT AUTO_INCREMENT PRIMARY KEY,
    Route_Name VARCHAR(255),
    Route_Link TEXT,
    Bus_Name VARCHAR(255),
    Bus_Type VARCHAR(100),
    Departing_Time VARCHAR(50),
    Duration VARCHAR(50),
    Reaching_Time VARCHAR(50),
    Star_Rating FLOAT,
    Price FLOAT,
    Seat_Availability VARCHAR(50)
)
'''
my_cursor.execute(create_table_query)
print("Table 'bus_details' created successfully (if it didn't exist).")

Table 'bus_details' created successfully (if it didn't exist).

In [26]:
my_cursor.execute("DESCRIBE bus_details")
for row in my_cursor.fetchall():
    print(row)

('Route_Name', 'varchar(255)', 'YES', '', None, '')
('Route_Link', 'text', 'YES', '', None, '')
('Bus_Name', 'varchar(255)', 'YES', '', None, '')
('Bus_Type', 'varchar(100)', 'YES', '', None, '')
('Departing_Time', 'varchar(50)', 'YES', '', None, '')
('Duration', 'varchar(50)', 'YES', '', None, '')
('Reaching_Time', 'varchar(50)', 'YES', '', None, '')
('Star_Rating', 'float', 'YES', '', None, '')
('Price', 'float', 'YES', '', None, '')
('Seat_Availability', 'varchar(50)', 'YES', '', None, '')

In [27]:
insert_query = '''INSERT INTO bus_details (
    Route_Name, Route_Link, Bus_Name, Bus_Type, Departing_Time, 
    Duration, Reaching_Time, Star_Rating, Price, Seat_Availability
) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''

data = Final_df.values.tolist()

my_cursor.executemany(insert_query, data)
conn.commit()
print("Values inserted successfully!")

Values inserted successfully!